body {
  @apply bg-bodyColor text-textBaseColor overflow-hidden font-base text-base;
}

.grid {
  @apply gap-y-6;
}

.col:not(.p-0) {
  @apply px-3;
}

/* width */
*::-webkit-scrollbar {
  @apply w-[6px] h-[6px];
}

/* Track */
*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  @apply bg-[#b5b5b5] hover:bg-[#939393] rounded;
}

/* Handle on hover */
